# OS / システムファイル
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# エディタ / IDE
.vscode/
.idea/
*.sublime-*

# 一時 / バックアップファイル
*.tmp
*.bak
*.log
~$*
*.swp

# 圧縮 / インストールファイル (誤ってコミットされるのを防止)
*.zip
*.7z
*.exe
*.msi

# node
node_modules/

# パスワードファイル(実際のパスワードはコミット禁止)
.wf-pass
